<header>
    <div class="site-header">
        <h1>CSE Motors</h1>
        <a href="/account" class="account-link">My Account</a>
    </div>
    <nav>
        <ul class="navigation">
            <li><a href="/" aria-current="page">Home</a></li>
            <li><a href="/custom">Custom</a></li>
            <li><a href="/sedan">Sedan</a></li>
            <li><a href="/suv">SUV</a></li>
            <li><a href="/truck">Truck</a></li>
        </ul>
    </nav>
</header>
