<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', { title }) %>
  <link rel="stylesheet" href="/css/site.css">
  <!-- or whatever your CSS file is named -->
</head>
<body>
    <div class="site-container">
        <%- include('../partials/header') %>
        <main>
            <%- body %>
        </main>
        <%- include('../partials/footer') %>
    </div>
</body>
</html>
